.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  &--small &__content {
    max-width: 21.438rem;

    @include devices(mobile) {
      max-width: 90%;
      width: 21.438rem;
    }
  }

  &--show {
    display: block;
  }

  &__content {
    position: relative;
    background-color: #fefefe;
    margin: 15vh auto;
    padding: 0;
    border-radius: 10px;
    width: 50%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    @include devices(tablet) {
      max-width: 75%;
      width: 100%;
    }

    @include devices(mobile) {
      max-width: 90%;
      width: 100%;
    }
  }

  &__body {
    @include padding(2.25rem 25px);
    text-align: left;

    &--center {
      text-align: center;
    }

    &__title {
      @include font(32px, 100%);
      font-weight: $fontWeightRegular;
      color: $blackColor;
      margin-bottom: 0.875rem;

      span {
        font-weight: $fontWeightMedium;
        color: $primaryColor;
      }

      @include devices(mobile) {
        text-align: center;
      }
    }

    &__description {
      font-weight: $fontWeightRegular;
      font-size: 1.12rem;
      line-height: 100%;
      color: $blackColor;
      opacity: 0.5;
      margin-bottom: 3rem;

      @include devices(mobile) {
        text-align: center;
        margin-bottom: 1.5rem;
      }
    }

    &__row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 0.875rem;

      @include devices(mobile) {
        grid-template-columns: repeat(1, 1fr);
      }

      &--two-column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0.875rem;
      }
    }

    &__field {
      margin-bottom: 1.75rem;

      fieldset {
        border: 1px solid rgba(0, 0, 0, 0.1);
      }

      select {
        font-size: 1rem;
      }
    }

    &__action_wrapper {
      margin-top: 1rem;
      display: flex;
      gap: 1rem;

      .MuiButton-contained {
        @include padding(1rem 3.5rem);
        text-transform: none;
        color: $whiteColor;
        @include font(1rem, 100%);
        font-family: $primaryFont;
        font-weight: $fontWeightRegular;
        box-shadow: none;

        &:first-child {
          background: $greenColor;
          text-transform: none;
          color: $whiteColor;
        }
        &:last-child {
          background: $lightpinkColor;
          text-transform: none;
          color: $primaryColor;
        }
      }
    }
  }

  &#mortalityPopup {
    .modal__image {
      text-align: center;
      img {
        width: 6.5rem;
      }
    }

    .modal__desc {
      margin-bottom: 1.75rem;

      h3,
      p {
        font-weight: 400;
        @include font(1.75rem, 2rem);
        text-align: center;

        abbr {
          font-weight: 500;
          color: $primaryColor;
        }
      }
    }

    .modal__body__field {
      text-align: center;

      .MuiInputBase-root {
        width: 90%;
        margin: 0 auto 0.5rem auto;
        background: #f9f9f9;
        border: 0;
      }
    }
  }

  &#addGraphPopup {
    .modal__content {
      max-width: 24.375rem;
      width: 100%;

      @include devices(mobile) {
        max-width: 90%;
      }
    }
  }

  &#AddDevice,
  &#UpdateDevice {
    .modal__content {
      max-width: 24.375rem;
    }

    .modal__body__title {
      text-align: center;
    }

    .modal__body__description {
      text-align: center;
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }

    .modal__body__field {
      margin-bottom: 1.125rem;
    }

    .modal__body__row {
      grid-template-columns: 1fr;
    }

    .modal__body__action_wrapper .MuiButton-contained {
      padding: 1rem;
      flex-grow: 1;
    }
  }
}
