.devices {
  @include padding(34px null 21px null);

  &__welcome_title {
    font-family: $primaryFont;
    font-weight: $fontWeightLight;
    margin-bottom: 1rem;
    font-size: 32px;

    strong {
      font-weight: $fontWeightMedium;
    }
  }

  &__welcome_text {
    @include font(1.385rem, 100%);
    opacity: 0.5;
  }

  &__overview {
    margin-top: 45px;
    background: $whiteColor;
    display: flex;
    flex-direction: column;
  }

  &__table-title-block {
    @include padding(28px 26px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__table-title {
    font-weight: $fontWeightMedium;
    @include font(24px, 100%);
  }

  &__search-form {
    @include padding(17.24px 19.59px);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    background: $backgroundColor;
    border-radius: 0.625rem;
    width: 262px;
    height: 49px;
    box-shadow: 0px 4px 40px rgba(33, 132, 250, 0.02);
  }

  &__search-input {
    border: none;
    background: transparent;
    font-size: 1rem;

    &::placeholder {
      font-size: 1rem;
      line-height: 128.33%;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    .css-i4bv87-MuiSvgIcon-root {
      fill: rgba(0, 0, 0, 0.15);
    }

    tbody tr td:first-child {
      text-align: left;
      padding-left: 2rem;

      span {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }

    tr {
      &:first-child {
        border-top: 2px solid rgba($blackColor, 0.1);
        border-bottom: 2px solid rgba($blackColor, 0.1);
      }

      border-bottom: 1px solid rgba($blackColor, 0.1);
    }

    th {
      @include padding(0.875rem null);
      @include font(1rem, 100%);
      font-weight: $fontWeightMedium;
      opacity: 0.7;
      text-align: left;

      &:first-child {
        padding-left: 2rem;
      }
    }

    td {
      height: 4.875rem;
      text-align: left;
      @include font(1rem, 100%);
      font-weight: $fontWeightRegular;
      color: #4c4c4c;

      &:nth-child(2),
      &:nth-child(4) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 1rem;
      }

      &:nth-child(4) {
        column-gap: 0.625rem;
      }

      &:last-child {
        position: relative;
      }
    }

    .check-icon {
      width: 19px;
      height: 19px;
    }

    &__weight-increased {
      color: $greenColor;
    }

    &__weight-decreased {
      color: $redColorRegular;
    }

    &__connectivity {
      width: 10px;
      height: 10px;
      border-radius: 50%;

      &.connected {
        background: $greenColorBright;
      }

      &.disconnected {
        background: $primaryColor;
      }
    }

    &__options-icon {
      img {
        &:hover {
          .devices__table__options {
            display: block;
          }
        }
      }
    }

    &__options {
      @include padding(20px 10px 10px);
      position: absolute;
      right: 27px;
      top: 44px;
      width: 121px;
      background: $whiteColor;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      display: none;

      a {
        display: block;
        margin-bottom: 10px;
      }
    }
  }

  &__add-new {
    width: 62px;
    height: 62px;
    background: $primaryColor;
    box-shadow: 20px 14px 44px rgba(249, 121, 22, 0.19);
    border-radius: 20px;
    position: fixed;
    bottom: 21px;
    right: 33px;

    &__modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 22px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);

      &--show {
        display: block;
      }
    }

    &__modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border-radius: 10px;
      width: 60%;
      height: auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s;
    }

    &__modal-body {
      @include padding(36px 25px 33px 25px);
      text-align: center;

      &__title {
        @include font(32px, 100%);
        font-weight: $fontWeightRegular;
        color: $blackColor;
        margin-bottom: 21px;

        span {
          font-weight: $fontWeightMedium;
          color: $primaryColor;
        }
      }

      &__sub-title {
        @include font(18px, 100%);
        font-weight: $fontWeightRegular;
        opacity: 0.5;
        margin-bottom: 48px;

        span {
          text-decoration: underline;
        }
      }

      &__field-title {
        @include font(18px, 100%);
        font-weight: $fontWeightRegular;
        opacity: 0.5;
        margin-bottom: 35px;

        span {
          font-weight: 700;
        }
      }
      &__field-subtitle {
        margin-top: 23.38px;
        margin-bottom: 26px;
        @include font(18px, 100%);
        font-weight: $fontWeightRegular;
        opacity: 0.5;

        span {
          font-weight: 700;
        }
      }

      &__field {
        &.tags {
          width: 50%;
          margin: auto;
          margin-bottom: 19px;
        }

        .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
          font-family: $primaryFont;
          font-weight: $fontWeightRegular;
        }

        .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
          width: 65%;
        }
      }

      &__tags-wrapper {
        @include margin(19px auto 46px auto);
        display: flex;
        column-gap: 23px;
        justify-content: center;
      }

      &__tag {
        @include padding(13px 9px);
        display: flex;
        align-items: center;
        width: 20%;
        justify-content: space-between;
        background: $grayColor;
        border-radius: 5px;
        color: $blackColor;

        p {
          font-weight: $fontWeightRegular;
          @include font(18px, 21.06px);
        }

        span {
          @include padding(4.88px 6px);
          background: $grayDarkColor;
          border-radius: 3px;
          color: $blackColor;
          font-size: 20px;
          cursor: pointer;
        }
      }

      &__btn-wrapper {
        display: flex;
        justify-content: center;
        column-gap: 24px;

        .css-sghohy-MuiButtonBase-root-MuiButton-root {
          @include padding(13px 40px);
          height: 44px;
          text-transform: none;
          color: $whiteColor;
          @include font(16px, 100%);
          font-family: $primaryFont;
          font-weight: $fontWeightRegular;

          &:first-child {
            background: $greenColor;
            text-transform: none;
            color: $whiteColor;
          }
          &:last-child {
            background: $lightpinkColor;
            text-transform: none;
            color: $primaryColor;
          }
        }
      }
    }

    @-webkit-keyframes animatetop {
      from {
        top: -300px;
        opacity: 0;
      }

      to {
        top: 0;
        opacity: 1;
      }
    }

    @keyframes animatetop {
      from {
        top: -300px;
        opacity: 0;
      }

      to {
        top: 0;
        opacity: 1;
      }
    }
  }
}
