.settings {
  @include padding(0 null 21px null);

  @include devices(tablet) {
    padding: 0;
  }

  &__welcome_title {
    font-family: $primaryFont;
    font-weight: $fontWeightLight;
    margin-bottom: 1rem;
    font-size: 32px;

    strong {
      font-weight: $fontWeightMedium;
    }
  }

  &__welcome_text {
    @include font(1.385rem, 100%);
    opacity: 0.5;
  }

  &__change-password {
    @include margin(45px auto 20px auto);
    @include padding(28px 30px);
    background: $whiteColor;

    @include devices(tablet) {
      @include margin(1.5rem auto);
    }

    &__title {
      @include font(1.385rem, 100%);
      font-family: $primaryFont;
      font-weight: $fontWeightMedium;
      color: $blackColor;
      margin-bottom: 40px;

      @include devices(mobile) {
        @include font(1rem, 100%);
      }
    }

    &__field-wrapper {
      display: flex;
      flex-flow: row wrap;
      column-gap: 30px;
      row-gap: 37px;
      width: 70%;

      @include devices(tablet) {
        width: 100%;
        row-gap: 1.5rem;
      }

      & > .MuiFormControl-root {
        width: 48%;

        @include devices(tablet) {
          width: 100%;
        }
      }

      .MuiButton-containedPrimary {
        @include padding(18px 37px);
        @include font(16px, 19.12px);
        height: 54px;
        text-transform: none;
        color: $whiteColor;
        font-family: $primaryFont;
        font-weight: $fontWeightRegular;
        background: $greenColor;
        border-radius: 5px;

        @include devices(mobile) {
          width: 100%;
        }

        &:hover {
          background: $primaryColor;
        }
      }
    }
  }

  &__share-feedback {
    @include margin(45px auto 20px auto);
    @include padding(28px 30px);
    background: $whiteColor;

    &__title {
      @include font(1.385rem, 100%);
      font-family: $primaryFont;
      font-weight: $fontWeightMedium;
      color: $blackColor;
      margin-bottom: 40px;

      @include devices(tablet) {
        @include font(1rem, 100%);
        margin-bottom: 1.5rem;
      }
    }

    .MuiTextField-root {
      width: 100%;
    }

    &__button-wrapper {
      margin-top: 30px;
      text-align: right;

      .MuiButton-containedPrimary {
        @include padding(18px 72px);
        @include font(16px, 19.12px);
        height: 54px;
        text-transform: none;
        color: $whiteColor;
        font-family: $primaryFont;
        font-weight: $fontWeightRegular;
        background: $greenColor;
        border-radius: 5px;

        &:hover {
          background: $primaryColor;
        }

        @include devices(mobile) {
          width: 100%;
        }
      }
    }
  }
}
