$primaryColor: #f97916;
$secondaryColor: #1c9038;
$backgroundColor: #f9f9f9;
$backgroundColorLight: #fafafa;

$primaryColorLight: rgba(249, 121, 22, 0.1);

$whiteColor: #fff;
$blackColor: #000;

$greenColor: #1c9038;
$greenColorLight: rgba(40, 157, 68, 0.1);
$greenColorBright:#3bcc5e;

$redColor: #901c1c;
$redColorLight: rgba(157, 40, 40, 0.1);
$redColorRegular: #fa4c4c;
$redColorBright:#f90000;

$grayColor:#ebebeb;
$grayLightColor: #f0f0f0;
$grayMediumColor: #e5e5e5;
$grayDarkColor:#c4c4c4;

$lightpinkColor:#fef3ed;

