// font families
$primaryFont: "GT Walsheim Pro";
$primaryFontUltra: "GT Walsheim Pro Ultra";
$primaryFontCondensed: "GT Walsheim Pro Condensed";
$primaryFontCondensedLight: "GTWalsheimPro-CondensedULightIt";
$primaryFontCondensedMedium: "GT Walsheim Pro Cond";
$primaryFontCondensedBold: "GT Walsheim Pro Cond Ultra";

// Secondary Font
$secndaryFont: "TT Commons";

// weights
$fontWeightThin: 100;
$fontWeightLighter: 200;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 800;
$fontWeightBolder: 900;
